.u-section-1 .u-sheet-1 {
  min-height: 1118px;
}

.u-section-1 .u-text-1 {
  margin: 4px auto 0 364px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 700;
  margin: 14px auto 0 195px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -32px 195px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 290px;
  min-height: 22px;
  margin: 12px auto 0 124px;
}

.u-section-1 .u-text-4 {
  margin: 0 199px 0 0;
}

.u-section-1 .u-text-5 {
  margin: -22px 0 0 114px;
}

.u-section-1 .u-text-6 {
  margin: -23px 156px 0 809px;
}

.u-section-1 .u-group-2 {
  width: 290px;
  min-height: 22px;
  margin: -22px 134px 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 0 199px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 9px auto 0 237px;
}

.u-section-1 .u-group-3 {
  width: 93px;
  min-height: 382px;
  margin: -23px 331px 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 12px 0 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-14 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-15 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-16 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-17 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-18 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-19 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 93px;
  min-height: 382px;
  margin: -382px auto 0 124px;
}

.u-section-1 .u-text-20 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-21 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-22 {
  margin: 12px 0 0 auto;
}

.u-section-1 .u-text-23 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-24 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-25 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-26 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-27 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-28 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-29 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-30 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 68px;
  margin: 20px 518px 0 488px;
}

.u-section-1 .u-group-5 {
  width: 93px;
  min-height: 382px;
  margin: 0 -364px 60px auto;
}

.u-section-1 .u-text-31 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-32 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-33 {
  margin: 12px 0 0 auto;
}

.u-section-1 .u-text-34 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-35 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-36 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-37 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-38 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-39 {
  margin: 12px auto 0 0;
}

.u-section-1 .u-text-40 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-41 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 56px;
    margin-left: 709px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 418px;
    margin-left: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 230px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 545px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 308px;
    margin-left: 278px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 146px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 146px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 365px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 178px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 218px;
    margin-left: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 109px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 92px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 92px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 50px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 165px;
  }

  .u-section-1 .u-group-2 {
    margin-right: 50px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 112px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 247px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 118px;
    margin-left: 88px;
  }
}