.u-section-1 .u-sheet-1 {
  min-height: 1162px;
}

.u-section-1 .u-text-1 {
  margin: 1px auto 0 43px;
}

.u-section-1 .u-text-2 {
  text-align: left;
  margin: -53px 75px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 159px;
  height: 132px;
  margin: 43px auto 0 83px;
}

.u-section-1 .u-image-2 {
  width: 146px;
  height: 132px;
  margin: -132px 83px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 68px;
  min-height: 66px;
  margin: -77px 514px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 34px 633px 0 438px;
}

.u-section-1 .u-text-5 {
  text-align: center;
  margin: -39px 380px 0 691px;
}

.u-section-1 .u-text-6 {
  text-align: center;
  margin: -39px 513px 0 558px;
}

.u-section-1 .u-text-7 {
  text-align: center;
  margin: -39px 777px 0 294px;
}

.u-section-1 .u-text-8 {
  margin: 43px auto 0;
}

.u-section-1 .u-group-2 {
  width: 362px;
  min-height: 82px;
  margin: 0 208px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-9 {
  margin: 21px auto 0;
}

.u-section-1 .u-group-3 {
  width: 362px;
  min-height: 82px;
  margin: -82px auto 0 208px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-10 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-11 {
  text-align: left;
  margin: 21px auto 0;
}

.u-section-1 .u-group-4 {
  width: 362px;
  min-height: 82px;
  margin: 0 208px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-12 {
  margin: 21px auto 0;
}

.u-section-1 .u-group-5 {
  width: 362px;
  min-height: 82px;
  margin: -82px auto 0 208px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-13 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-14 {
  text-align: left;
  margin: 32px auto 0;
}

.u-section-1 .u-group-6 {
  width: 362px;
  min-height: 82px;
  margin: 0 208px 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-15 {
  margin: 21px auto 0;
}

.u-section-1 .u-group-7 {
  width: 362px;
  min-height: 82px;
  margin: -82px auto 0 208px;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-16 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-17 {
  text-align: left;
  margin: 44px auto 0;
}

.u-section-1 .u-group-8 {
  width: 362px;
  min-height: 82px;
  margin: 0 208px 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding-left: 40px;
  padding-right: 30px;
}

.u-section-1 .u-text-18 {
  margin: 21px auto 0;
}

.u-section-1 .u-group-9 {
  width: 362px;
  min-height: 82px;
  margin: -82px auto 60px 208px;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 40px;
  padding-right: 30px;
}

.u-section-1 .u-text-19 {
  margin: 21px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-4 {
    margin-right: 533px;
    margin-left: 338px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 280px;
    margin-left: 591px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 413px;
    margin-left: 458px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 677px;
    margin-left: 194px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-4 {
    margin-right: 423px;
    margin-left: 228px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 170px;
    margin-left: 481px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 303px;
    margin-left: 348px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 567px;
    margin-left: 84px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-right: 472px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 333px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 80px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 213px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 471px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    margin-right: 178px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 178px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-right: 178px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 178px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    margin-right: 178px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-7 {
    margin-left: 178px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-8 {
    margin-right: 178px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-9 {
    margin-left: 178px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-right: 272px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 233px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 271px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 113px;
    margin-left: 158px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 271px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-9 {
    width: 340px;
    margin-left: 0;
  }
}